/*fontSizes*/
$font-size-small:12;
$font-size-small1:13;
$font-size-small2:14;
$font-size-small3:15;
$font-size-regular:16;
$font-size-regular2:18;
$font-size-middle:20;
$font-size-middle2:22;
$font-size-large:24;
$font-size-largex:30;
$font-size-x-large:32;
$font-size-x2-large:36;
$font-size-x2x-large:42;
$font-size-xx-large:48;
$font-size-twoandhalf-large:50;
$font-size-xxx-large:64;
$font-size-xxx-large1:70;
$font-size-xxx-large2:80;
$font-size-midlarge:85;
$font-size-xxxx-large:96;
/*font weights*/
$extra-light-weight:200;
$light-weight:300;
$normal-weight:400;
$medium-weight:500;
$semi-weight:600;
$bold-weight:700;
$extra-weight:800;
$max-weight:900;
/*fontStyle*/
$italicFontStyle:italic;
